.mf-ac-result-box {
  display: flex;
  flex-direction: row;
  background: #f1f1f1;
  margin: 1rem;
}

.mf-ac-result-status {
  width: 50%;
  margin: 1rem;
}

.mf-ac-result-detail {
  width: 50%;
  margin: 1rem;
}

a {
  text-decoration: none;
}